@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }

body, .quick_sand{
  font-family: "Quicksand", sans-serif;
}